<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="isMenuOpen">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/empleados" disableRipple>
        <mat-icon>people</mat-icon>
        <span>Empleados</span>
      </a>
      <a mat-list-item routerLink="/materiales" disableRipple>
        <mat-icon>inventory</mat-icon>
        <span>Materiales</span>
      </a>
      <a mat-list-item routerLink="/agregar-empleado" disableRipple>
        <mat-icon>person_add</mat-icon>
        <span>Agregar Empleado</span>
      </a>
      <a mat-list-item routerLink="/agregar-material" disableRipple>
        <mat-icon>add_box</mat-icon>
        <span>Agregar Material</span>
      </a>
      <a mat-list-item routerLink="/asignar-material" disableRipple>
        <mat-icon>assignment</mat-icon>
        <span>Asignar Material</span>
      </a>
    </mat-nav-list>
    <div class="logout-button-container">
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logo.png" alt="Logo" class="logo">
      <span>Gestión de Material</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
